nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  border-bottom: solid 2px black;
}

nav a {
  flex-grow: 1;
  text-align: center;
}

#nav-border {
  border-right: solid 2px black;
  align-self: stretch;
}

main {
  display: flex;
  flex-direction: row;
}

section:first-child {
  display: flex;
  flex-direction: column;
  border-right: solid 2px black;
}
